<div>
    <table mat-table [dataSource]="leagueTableData" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Club Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Club Name </th>
            <td mat-cell *matCellDef="let club"> {{club.name}} </td>
        </ng-container>
      
        <!-- Points Column -->
        <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef> Points </th>
            <td mat-cell *matCellDef="let club"> {{club.clubPoints}} </td>
        </ng-container>
      
        <!-- Matches Played Column -->
        <ng-container matColumnDef="matchesPlayed">
            <th mat-header-cell *matHeaderCellDef> Matches Played </th>
            <td mat-cell *matCellDef="let club"> {{club.noOfMatchesPlayed}} </td>
        </ng-container>

        <!-- Wins Column -->
        <ng-container matColumnDef="wins">
            <th mat-header-cell *matHeaderCellDef (click)="sortByWins()" class="sort-button"> Wins </th>
            <td mat-cell *matCellDef="let club"> {{club.noOfWins}} </td>
        </ng-container>
        
        <!-- Defeats Column -->
        <ng-container matColumnDef="defeats">
            <th mat-header-cell *matHeaderCellDef> Defeats </th>
            <td mat-cell *matCellDef="let club"> {{club.noOfDefeats}} </td>
        </ng-container>

        <!-- Draws Column -->
        <ng-container matColumnDef="draws">
            <th mat-header-cell *matHeaderCellDef> Draws </th>
            <td mat-cell *matCellDef="let club"> {{club.noOfDraws}} </td>
        </ng-container>

        <!-- Goals Scored Column -->
        <ng-container matColumnDef="goalsScored" >
            <th mat-header-cell *matHeaderCellDef (click)="sortByGoalsScored()" class="sort-button"> Goals Scored </th>
            <td mat-cell *matCellDef="let club"> {{club.noOfGoalsScored}} </td>
        </ng-container>

        <!-- Goals Received Column -->
        <ng-container matColumnDef="goalsReceived">
            <th mat-header-cell *matHeaderCellDef> Goals Received </th>
            <td mat-cell *matCellDef="let club"> {{club.noOfGoalsReceived}} </td>
        </ng-container>

        <!-- Goal Difference Column -->
        <ng-container matColumnDef="goalDifference">
            <th mat-header-cell *matHeaderCellDef> Goal Difference </th>
            <td mat-cell *matCellDef="let club"> {{club.goalDifference}} </td>
        </ng-container>
    
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      
</div>
